# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.pem
*.p12
/kata-02/modules/customer/backend/target/classes/application.properties
/kata-02/modules/order/backend/target/classes/application.properties
/kata-02/modules/shared/backend/target/classes/application.properties
/kata-02/shell/backend/target/classes/application.properties
/kata-02/modules/customer/backend/target/surefire-reports/ch.kata.kata_02.CustomerApplicationTests.txt
/kata-02/modules/order/backend/target/surefire-reports/ch.kata.kata_02.OrderApplicationTests.txt
/kata-02/modules/shared/backend/target/surefire-reports/ch.kata.kata_02.SharedApplicationTests.txt
/kata-02/shell/backend/target/surefire-reports/ch.kata.kata_02.ShellApplicationTests.txt
/kata-02/modules/customer/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/kata-02/modules/customer/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/kata-02/modules/order/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/kata-02/modules/order/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/kata-02/modules/shared/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/kata-02/modules/shared/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/kata-02/shell/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/kata-02/shell/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/kata-02/modules/customer/backend/target/customer-backend-0.0.1-SNAPSHOT.jar.original
/kata-02/modules/customer/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/kata-02/modules/customer/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/kata-02/modules/order/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/kata-02/modules/order/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/kata-02/modules/shared/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/kata-02/modules/shared/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/kata-02/shell/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/kata-02/shell/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/kata-02/modules/order/backend/target/order-backend-0.0.1-SNAPSHOT.jar.original
/kata-02/modules/customer/backend/target/maven-archiver/pom.properties
/kata-02/modules/order/backend/target/maven-archiver/pom.properties
/kata-02/modules/shared/backend/target/maven-archiver/pom.properties
/kata-02/shell/backend/target/maven-archiver/pom.properties
/kata-02/modules/shared/backend/target/shared-backend-0.0.1-SNAPSHOT.jar.original
/kata-02/shell/backend/target/shell-backend-0.0.1-SNAPSHOT.jar.original
/kata-02/modules/customer/backend/target/surefire-reports/TEST-ch.kata.kata_02.CustomerApplicationTests.xml
/kata-02/modules/order/backend/target/surefire-reports/TEST-ch.kata.kata_02.OrderApplicationTests.xml
/kata-02/modules/shared/backend/target/surefire-reports/TEST-ch.kata.kata_02.SharedApplicationTests.xml
/kata-02/shell/backend/target/surefire-reports/TEST-ch.kata.kata_02.ShellApplicationTests.xml
